In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [5]:
dataset=dataset.drop("User ID",axis=1)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [6]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
indep

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [7]:
dep=dataset[['Purchased']]
dep

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [8]:
dataset["Purchased"].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)
x_train,x_test,y_train,y_test

(     Age  EstimatedSalary  Gender_Male
 218   46            96000            0
 101   28            59000            1
 311   39            96000            1
 194   28            89000            1
 326   41            72000            1
 ..   ...              ...          ...
 323   48            30000            0
 192   29            43000            1
 117   36            52000            1
 47    27            54000            0
 172   26           118000            0

 [266 rows x 3 columns],      Age  EstimatedSalary  Gender_Male
 132   30            87000            1
 309   38            50000            0
 341   35            75000            1
 196   30            79000            0
 246   35            50000            0
 ..   ...              ...          ...
 168   29           148000            1
 150   26            15000            0
 393   60            42000            1
 66    24            19000            1
 240   42           149000            1

 [134 rows x 3 columns],      Purchased
 218          0
 101          0
 311          1
 194          0
 326          0
 ..         ...
 323          1
 192          0
 117          0
 47           0
 172          0

 [266 rows x 1 columns],      Purchased
 132          0
 309          0
 341          0
 196          0
 246          0
 ..         ...
 168          1
 150          0
 393          1
 66           0
 240          1

 [134 rows x 1 columns])

In [11]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import GridSearchCV
param_grid={'loss':['hinge','log_loss','modified_huber','squared_hinge','perceptron','squared_error','huber','epsilon_insensitive','squared_epsilon_insensitive'],
           'penalty':['l2','l1','elasticnet']}      
grid=GridSearchCV(SGDClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(x_train,y_train)

Fitting 5 folds for each of 27 candidates, totalling 135 fits

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
15 fits failed out of a total of 135.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py", line 892, in fit
    sample_weight=sample_weight,
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py", line 649, in _fit
    self._validate_params()
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py", line 162, in _validate_params
    raise ValueError("The loss %s is not supported. " % self.loss)
ValueError: The loss log_loss is not supported.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.3829792  0.38009573 0.3094763         nan        nan        nan
 0.44253699 0.31765446 0.31765446 0.44542046 0.50786173 0.3094763
 0.31765446 0.38009573 0.24703503 0.37480103 0.37480103 0.37480103
 0.38009573 0.37480103 0.44253699 0.44542046 0.3829792  0.3829792
 0.50786173 0.4372423  0.24703503]
  category=UserWarning,
C:\Users\PC\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=SGDClassifier(), n_jobs=-1,
             param_grid={'loss': ['hinge', 'log_loss', 'modified_huber',
                                  'squared_hinge', 'perceptron',
                                  'squared_error', 'huber',
                                  'epsilon_insensitive',
                                  'squared_epsilon_insensitive'],
                         'penalty': ['l2', 'l1', 'elasticnet']},
             scoring='f1_weighted', verbose=3)

In [12]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)
grid_predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0], dtype=int64)

In [13]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predictions)
print("Confusion Matrix:\n",cm)

Confusion Matrix:
 [[85  0]
 [49  0]]

In [14]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predictions)
print("classification_report:\n",clf_report)

classification_report:
               precision    recall  f1-score   support

           0       0.63      1.00      0.78        85
           1       0.00      0.00      0.00        49

    accuracy                           0.63       134
   macro avg       0.32      0.50      0.39       134
weighted avg       0.40      0.63      0.49       134

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\PC\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\PC\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [15]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter{}:\n".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter{'loss': 'squared_hinge', 'penalty': 'l1'}:
 0.49240100865535336

In [16]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid_predictions)

0.5

In [17]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,param_penalty,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.093734,1.711172e-02,0.050225,0.000000,hinge,l2,"{'loss': 'hinge', 'penalty': 'l2'}",0.509779,0.525300,0.501410,0.189203,0.189203,0.382979,0.158403,8
1,0.053115,4.591937e-02,0.030135,0.024605,hinge,l1,"{'loss': 'hinge', 'penalty': 'l1'}",0.183156,0.525300,0.501410,0.501410,0.189203,0.380096,0.158584,12
2,0.006248,7.652670e-03,0.006248,0.007652,hinge,elasticnet,"{'loss': 'hinge', 'penalty': 'elasticnet'}",0.183156,0.172203,0.501410,0.189203,0.501410,0.309476,0.156808,21
3,0.003124,6.247902e-03,0.000000,0.000000,log_loss,l2,"{'loss': 'log_loss', 'penalty': 'l2'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,27
4,0.003125,6.249619e-03,0.000000,0.000000,log_loss,l1,"{'loss': 'log_loss', 'penalty': 'l1'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,26
5,0.000000,0.000000e+00,0.000000,0.000000,log_loss,elasticnet,"{'loss': 'log_loss', 'penalty': 'elasticnet'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
6,0.006242,7.645435e-03,0.003125,0.006249,modified_huber,l2,"{'loss': 'modified_huber', 'penalty': 'l2'}",0.183156,0.525300,0.501410,0.501410,0.501410,0.442537,0.130020,5
7,0.009373,7.652748e-03,0.003124,0.006248,modified_huber,l1,"{'loss': 'modified_huber', 'penalty': 'l1'}",0.183156,0.525300,0.501410,0.189203,0.189203,0.317654,0.159982,20
8,0.003124,6.248665e-03,0.006249,0.007653,modified_huber,elasticnet,"{'loss': 'modified_huber', 'penalty': 'elastic...",0.183156,0.525300,0.189203,0.189203,0.501410,0.317654,0.159982,18
9,0.006248,7.652787e-03,0.006248,0.007653,squared_hinge,l2,"{'loss': 'squared_hinge', 'penalty': 'l2'}",0.509779,0.525300,0.189203,0.501410,0.501410,0.445420,0.128405,3
10,0.006248,7.652553e-03,0.009394,0.007670,squared_hinge,l1,"{'loss': 'squared_hinge', 'penalty': 'l1'}",0.509779,0.525300,0.501410,0.501410,0.501410,0.507862,0.009302,1
11,0.009383,7.661685e-03,0.006249,0.007653,squared_hinge,elasticnet,"{'loss': 'squared_hinge', 'penalty': 'elasticn...",0.183156,0.172203,0.501410,0.189203,0.501410,0.309476,0.156808,21
12,0.006227,7.626623e-03,0.003124,0.006249,perceptron,l2,"{'loss': 'perceptron', 'penalty': 'l2'}",0.183156,0.525300,0.189203,0.501410,0.189203,0.317654,0.159982,18
13,0.006249,7.653020e-03,0.009373,0.007653,perceptron,l1,"{'loss': 'perceptron', 'penalty': 'l1'}",0.183156,0.525300,0.189203,0.501410,0.501410,0.380096,0.158584,11
14,0.009373,7.653098e-03,0.003124,0.006249,perceptron,elasticnet,"{'loss': 'perceptron', 'penalty': 'elasticnet'}",0.183156,0.172203,0.501410,0.189203,0.189203,0.247035,0.127339,23
15,0.006249,7.653371e-03,0.003124,0.006249,squared_error,l2,"{'loss': 'squared_error', 'penalty': 'l2'}",0.509779,0.172203,0.189203,0.501410,0.501410,0.374801,0.158601,14
16,0.012497,6.248498e-03,0.000000,0.000000,squared_error,l1,"{'loss': 'squared_error', 'penalty': 'l1'}",0.509779,0.172203,0.501410,0.501410,0.189203,0.374801,0.158601,14
17,0.000000,0.000000e+00,0.006248,0.007653,squared_error,elasticnet,"{'loss': 'squared_error', 'penalty': 'elasticn...",0.509779,0.172203,0.189203,0.501410,0.501410,0.374801,0.158601,14
18,0.015621,1.343632e-06,0.006249,0.007653,huber,l2,"{'loss': 'huber', 'penalty': 'l2'}",0.183156,0.525300,0.501410,0.189203,0.501410,0.380096,0.158584,12
19,0.018746,6.248140e-03,0.003124,0.006248,huber,l1,"{'loss': 'huber', 'penalty': 'l1'}",0.509779,0.172203,0.501410,0.189203,0.501410,0.374801,0.158601,14
20,0.021870,7.652631e-03,0.000000,0.000000,huber,elasticnet,"{'loss': 'huber', 'penalty': 'elasticnet'}",0.183156,0.525300,0.501410,0.501410,0.501410,0.442537,0.130020,5
21,0.015621,1.309350e-06,0.000000,0.000000,epsilon_insensitive,l2,"{'loss': 'epsilon_insensitive', 'penalty': 'l2'}",0.509779,0.525300,0.501410,0.501410,0.189203,0.445420,0.128405,3
22,0.024994,7.653332e-03,0.003125,0.006249,epsilon_insensitive,l1,"{'loss': 'epsilon_insensitive', 'penalty': 'l1'}",0.509779,0.525300,0.501410,0.189203,0.189203,0.382979,0.158403,8
23,0.015621,6.975526e-07,0.003124,0.006249,epsilon_insensitive,elasticnet,"{'loss': 'epsilon_insensitive', 'penalty': 'el...",0.509779,0.525300,0.189203,0.501410,0.189203,0.382979,0.158403,8
24,0.015621,1.390207e-06,0.000000,0.000000,squared_epsilon_insensitive,l2,"{'loss': 'squared_epsilon_insensitive', 'penal...",0.509779,0.525300,0.501410,0.501410,0.501410,0.507862,0.009302,1
25,0.012497,6.248689e-03,0.003124,0.006249,squared_epsilon_insensitive,l1,"{'loss': 'squared_epsilon_insensitive', 'penal...",0.509779,0.172203,0.501410,0.501410,0.501410,0.437242,0.132559,7
26,0.009373,7.653059e-03,0.006248,0.007653,squared_epsilon_insensitive,elasticnet,"{'loss': 'squared_epsilon_insensitive', 'penal...",0.183156,0.172203,0.189203,0.501410,0.189203,0.247035,0.127339,23

In [18]:
print(grid.best_params_)

{'loss': 'squared_hinge', 'penalty': 'l1'}

In [19]:
age_input=float(input('Age input:'))
Salary_input=float(input('Salary:'))
gender_male_input=int(input("gender male 0 or 1:"))

Age input:40
Salary:100000
gender male 0 or 1:0

In [20]:
Future_prediction=grid.predict([[age_input,Salary_input,gender_male_input]])
print("Future_Prediction={}".format(Future_prediction))

Future_Prediction=[0]

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but SGDClassifier was fitted with feature names
  "X does not have valid feature names, but"